# Data Cleaning & Exploration - Video Game Sales and Ratings

## Import Libraries

In [1]:
# Import packages
import pandas as pd
import numpy as np

## Load Dataset

In [2]:
# Import CSV file
games = pd.read_csv('/Users/raheem-gsu/DataGripProjects/MYSQL-Tableau-Video-Games-Project/Datasets/Video_Games.csv')

## Initial Data Inspection

In [3]:
# Display table
games.head()

,index,name,platform,year_of_release,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,developer,rating
0,0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Table information
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16928 entries, 0 to 16927
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            16928 non-null  int64
 1   name             16926 non-null  object
 2   platform         16928 non-null  object
 3   year_of_release  16655 non-null  float64
 4   genre            16926 non-null  object
 5   publisher        16873 non-null  object
 6   na_sales         16928 non-null  float64
 7   eu_sales         16928 non-null  float64
 8   jp_sales         16928 non-null  float64
 9   other_sales      16928 non-null  float64
 10  global_sales     16928 non-null  float64
 11  critic_score     8260 non-null   float64
 12  critic_count     8260 non-null   float64
 13  user_score       10159 non-null  object
 14  user_count       7718 non-null   float64
 15  developer        10240 non-null  object
 16  rating           10092 non-null  object
dtypes: float64(9), int64(1), object(7)
memory usage: 2.2+ MB

In [5]:
# Note: year_of_release needs to be converted into Int64.

## Descriptive Statistics

In [6]:
# Summary statistics of numerical fields
games.describe().T

,count,mean,std,min,25%,50%,75%,max
index,16928.0,8463.500000,4886.837014,0.00,4231.75,8463.50,12695.25,16927.00
year_of_release,16655.0,2006.485320,5.882890,1980.00,2003.00,2007.00,2010.00,2020.00
na_sales,16928.0,0.266390,0.814326,0.00,0.00,0.08,0.24,41.36
eu_sales,16928.0,0.146850,0.504585,0.00,0.00,0.02,0.11,28.96
jp_sales,16928.0,0.078170,0.308756,0.00,0.00,0.00,0.04,10.22
other_sales,16928.0,0.047861,0.186675,0.00,0.00,0.01,0.04,10.57
global_sales,16928.0,0.539520,1.550545,0.01,0.06,0.17,0.49,82.53
critic_score,8260.0,69.037893,13.943198,13.00,60.00,71.00,79.00,98.00
critic_count,8260.0,26.428692,18.989929,3.00,12.00,22.00,36.00,113.00
user_count,7718.0,163.269629,562.786746,4.00,10.00,25.00,82.00,10665.00

## Handling Missing Values

In [7]:
# Total missing values from each field
games.isnull().sum()

index                 0
name                  2
platform              0
year_of_release     273
genre                 2
publisher            55
na_sales              0
eu_sales              0
jp_sales              0
other_sales           0
global_sales          0
critic_score       8668
critic_count       8668
user_score         6769
user_count         9210
developer          6688
rating             6836
dtype: int64

In [8]:
# View name NaN's
games[games['name'].isna()]

,index,name,platform,year_of_release,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,developer,rating
659,659,NaN,GEN,1993.0,NaN,Acclaim Entertainment,1.78,0.53,0.00,0.08,2.39,NaN,NaN,NaN,NaN,NaN,NaN
14246,14246,NaN,GEN,1993.0,NaN,Acclaim Entertainment,0.00,0.00,0.03,0.00,0.03,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Drop Name NaN Values
games.dropna(subset = ['name'], inplace = True)

In [10]:
# year_of_release value counts
games['year_of_release'].value_counts()

year_of_release
2009.0    1448
2008.0    1441
2010.0    1269
2007.0    1209
2011.0    1150
2006.0    1014
2005.0     949
2002.0     841
2003.0     784
2004.0     773
2012.0     662
2015.0     612
2014.0     595
2013.0     549
2016.0     507
2001.0     490
1998.0     386
2000.0     354
1999.0     343
1997.0     293
1996.0     267
1995.0     222
1994.0     121
1993.0      61
1981.0      46
1992.0      43
1991.0      42
1982.0      39
1986.0      21
1989.0      17
1983.0      17
1990.0      16
1987.0      16
1988.0      15
1985.0      14
1984.0      14
1980.0       9
2017.0       3
2020.0       1
Name: count, dtype: int64

In [11]:
# Convert year_of_release to string and remove .0
games['year_of_release'] = games['year_of_release'].astype(str).str.replace('.0', '', regex=False)
games['year_of_release'].drop_duplicates()

0        2006
1        1985
2        2008
3        2009
4        1996
5        1989
9        1984
10       2005
12       1999
13       2007
14       2010
16       2013
17       2004
18       1990
22       1988
24       2002
28       2001
29       2011
30       1998
31       2015
34       2012
42       2014
50       1992
52       1997
56       1993
71       1994
89       1982
94       2016
102      2003
124      1986
133      2000
183       nan
191      1995
232      1991
240      1981
252      1987
262      1980
426      1983
5936     2020
14086    2017
Name: year_of_release, dtype: object

In [12]:
# Note: NaN exists in this column as a string 'nan' when it got converted.
# It also can't be detected using .isna().sum()

In [13]:
# Replace string 'nan' with numpy NaN null value for strings
games['year_of_release'].replace('nan', np.NaN, inplace = True)

/var/folders/47/pzhx21jn1c3dwfyd9xj6jym40000gn/T/ipykernel_3917/1843577946.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  games['year_of_release'].replace('nan', np.NaN, inplace = True)

In [14]:
# View value counts
games['year_of_release'].drop_duplicates()

0        2006
1        1985
2        2008
3        2009
4        1996
5        1989
9        1984
10       2005
12       1999
13       2007
14       2010
16       2013
17       2004
18       1990
22       1988
24       2002
28       2001
29       2011
30       1998
31       2015
34       2012
42       2014
50       1992
52       1997
56       1993
71       1994
89       1982
94       2016
102      2003
124      1986
133      2000
183       NaN
191      1995
232      1991
240      1981
252      1987
262      1980
426      1983
5936     2020
14086    2017
Name: year_of_release, dtype: object

In [15]:
# Now 'nan' exists as NaN as a legitimate null value. It can now be read with .isna().sum()

In [16]:
# Verify NaN count
games['year_of_release'].isna().sum()

273

In [17]:
# Drop NaN year
games.dropna(subset=['year_of_release'], inplace = True)

In [18]:
# Verify year_of_release NaN count
games['year_of_release'].isna().sum()

0

In [19]:
# year_of_release value counts
games['year_of_release'].value_counts()

year_of_release
2009    1448
2008    1441
2010    1269
2007    1209
2011    1150
2006    1014
2005     949
2002     841
2003     784
2004     773
2012     662
2015     612
2014     595
2013     549
2016     507
2001     490
1998     386
2000     354
1999     343
1997     293
1996     267
1995     222
1994     121
1993      61
1981      46
1992      43
1991      42
1982      39
1986      21
1989      17
1983      17
1990      16
1987      16
1988      15
1985      14
1984      14
1980       9
2017       3
2020       1
Name: count, dtype: int64

In [20]:
# 2017 and 2020 have very few values.

In [21]:
# View 2017 and 2020 rows
games[games['year_of_release'].isin(['2017', '2020'])]

,index,name,platform,year_of_release,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,developer,rating
5936,5936,Imagine: Makeup Artist,DS,2020,Simulation,Ubisoft,0.27,0.0,0.00,0.02,0.29,NaN,NaN,tbd,NaN,Ubisoft,E
14086,14086,Phantasy Star Online 2 Episode 4: Deluxe Package,PS4,2017,Role-Playing,Sega,0.00,0.0,0.04,0.00,0.04,NaN,NaN,NaN,NaN,NaN,NaN
16222,16222,Phantasy Star Online 2 Episode 4: Deluxe Package,PSV,2017,Role-Playing,Sega,0.00,0.0,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16385,16385,Brothers Conflict: Precious Baby,PSV,2017,Action,Idea Factory,0.00,0.0,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# We will remove these years because there are incomplete years with few entries.

In [23]:
# Drop years 2017 & 2020
games.drop(games[games['year_of_release'].isin (['2017', '2020'])].index, inplace = True)

In [24]:
# View final year_of_release column
games['year_of_release'].value_counts()

year_of_release
2009    1448
2008    1441
2010    1269
2007    1209
2011    1150
2006    1014
2005     949
2002     841
2003     784
2004     773
2012     662
2015     612
2014     595
2013     549
2016     507
2001     490
1998     386
2000     354
1999     343
1997     293
1996     267
1995     222
1994     121
1993      61
1981      46
1992      43
1991      42
1982      39
1986      21
1989      17
1983      17
1990      16
1987      16
1988      15
1985      14
1984      14
1980       9
Name: count, dtype: int64

# Data Cleaning

In [25]:
# Drop duplicates
games.drop_duplicates()

,index,name,platform,year_of_release,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,developer,rating
0,0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16923,16923,Aliens: Colonial Marines,PS3,2013,Shooter,Sega,0.20,0.29,0.00,0.11,0.60,43.0,25.0,3.6,295.0,Gearbox Software,M
16924,16924,Backyard Wrestling: Don't Try This at Home,PS2,2003,Fighting,Eidos Interactive,0.30,0.23,0.00,0.08,0.60,51.0,24.0,7.8,29.0,Paradox Development,M
16925,16925,Yakuza: Dead Souls,PS3,2011,Shooter,Sega,0.09,0.06,0.42,0.03,0.60,64.0,55.0,7.4,69.0,Ryu ga Gotoku Studios,M
16926,16926,Fight Night Round 2,XB,2005,Fighting,Electronic Arts,0.42,0.16,0.00,0.02,0.60,88.0,48.0,8.8,27.0,EA Sports,T
16927,16927,MonHun Nikki: Poka Poka Ailu Mura,PSP,2010,Role-Playing,Capcom,0.00,0.00,0.60,0.00,0.60,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# Check data types
games.dtypes

index                int64
name                object
platform            object
year_of_release     object
genre               object
publisher           object
na_sales           float64
eu_sales           float64
jp_sales           float64
other_sales        float64
global_sales       float64
critic_score       float64
critic_count       float64
user_score          object
user_count         float64
developer           object
rating              object
dtype: object

# Export Cleaned Dataset

In [27]:
# Export to CSV file
games.to_csv('video_games (cleaned).csv', index = False)